.admincred-container{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.alladmins{
    color: #183e71;
    font-weight: 600;
    font-size: 22px
}

.admincred-headings p{
    margin: 0;
}

.admincred p{
    margin: 0;
}

.admincred-headings{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 46px;
    background: aliceblue;
    box-shadow: 0px 0px 5px 0px #31578b54;
    color: #183e71;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 20px;
}

.admincred{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1px 0px;
    box-shadow: 1px 1px 6px #00000022;
    height: 36px;
    border-radius: 5px;
    color: #183e71;
    font-weight: 500;
    margin-bottom: 12px;
}

.createNew{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}

.createNewBtn{
    border: none;
    outline: none;
    color: #fff;
    background-color:#254d84eb;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
    float: right;
    height: 30px;
}

.createNewBtn:hover{
    background-color:#254d84f6;
    box-shadow: 0 1px 1px 0 rgba(66,133,244,0.45), 0 1px 3px 1px rgba(66,133,244,0.3);
}

.createNew form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 3px 0px #000000a6;
    height: 56px;
    background: aliceblue;
    border-radius: 7px;
    margin: 20px 0px;
    padding: 0px 14px;
}

.createNew form input{
    margin: 20px 0px;
}


.saveAdmin{
    border: none;
    outline: none;
    color: #fff;
    background-color:#254d84eb;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
    height: 30px;
}

.close-save-admin{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}



.admin-close{
    width: 17px;
}

@media (max-width:900px) {

    .admincred-container{
        padding: 10px;
    }
    
    .createNew form{
        flex-direction: column;
        height:fit-content;
        width: '';
    }

    .createNew form input{
        width: 100%;
    }

    .close-save-admin{
        width: 80%;
    }

    body{
        line-height: 1;
    }
}



